@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #363735;
  color: #363735;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 20px;

}

.wrapper {
  min-width: 50vw;
  min-height: 70vh;
  background: #f9f9f9;
  border-radius: 20px;
  border: 5px solid #9a9e98;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h1 {
  all: unset;
  font-size: 30px;
  font-weight: 500;
}

.button {
  all: unset;
  cursor: pointer;
  padding: 12px 50px;
  border-radius: 20px;
  border: 1px solid #363735;
  text-transform: uppercase;
  transform: translate(0, 0);
  box-shadow: 3px 3px 0px 1px #363735,
              -1px -1px 0px 1px #36373500;
  transition: translate .8s, box-shadow .2s;
}

.button:hover {
  transform: translate(3px, 3px);
  box-shadow: 3px 3px 0px 1px #36373500,
            -1px -1px 0px 1px #363735;
}

/* #363735 */
/* 9a9e98 */
/* #ebebea */
/* #cf0f26 */
/* f9f9f9 */