@font-face {
    font-family: 'Jost';
    src: local('Jost Regular'), local('Jost-Regular'),
        url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

