@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.otf);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
  border-radius: 6.25rem;
  background: #F28B64;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105.187%; /* 1.18338rem */
  transition: background 0.3s ease, transform 0.3s ease;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-color: #5290EA #f0f0f0;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

section {
  max-height: 100vh;
}

/* HEADER START */
header {
  width: 100%;
  background-color: #F0F0F0;
  max-height: 100vh;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav {
  width: 100%;
  height: 4.3125rem;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div.logo img {
  width: 8.375rem;
  height: auto;
}

header nav ul {
  height: 1.375rem;  
  display: flex;
  column-gap: 4rem;
}

header nav ul li {
  list-style: none;
}

header nav li a {
  text-decoration: none;
  display: inline-block;  
  color: #000;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.1s, transform 0.3s ease;
}

header nav li a:hover {
  transform: scale(1.1);
}

header nav li a:active {
  color: #5290EA;
}

section.container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.profile_photo img {
  max-width: auto;
  max-height: 36rem;
}

aside {
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
  align-items: center;
}

aside::before {
  content: "";
  width: 194px;
  height: 194px;
  position: absolute;
  right: -27px;
  top: 260px;
  background-image: url(images/Circle_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

aside ul.social {
    all: unset;
    width: 100%;
    height: 4rem;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}

aside ul.social li.social_item {
  list-style: none;
}

aside li.social_item a {
  display: inline-block;
  transition: transform 0.3s ease;
}

aside li.social_item a:hover {
  transform: scale(1.3);
}

aside li.social_item img {
  width: 3rem;
  height: 3rem;
}

aside div.profile {
  max-width: 23rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

aside h1.profile_title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 93.9%;
  text-align: center;
  position: relative;
}

aside h1.profile_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.0625rem;
  height: 2px;
  background-color: #000;
}

aside p.profile_text {
  line-height: normal;
  text-align:justify;
}

button.book_lesson {
  width: 13.5rem;
  height: 3.75rem;
  margin-bottom: 2.2rem;
}

button.book_lesson:hover {
  transform:scale(1.1);
}

button.book_lesson:active {
  background: #5290EA;  
}
/* HEADER END */


/* MAIN START */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* MAIN END */


/* SECTION #1 START */
main section.teaching {
  margin-top: 2rem;
}

section.teaching .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  position: relative;
  z-index: 1;
}

section.teaching .wrapper::before {
  content: "";
  width: 194px;
  height: 194px;
  position: absolute;
  z-index: -1;
  left: -70px;
  bottom: 130px;
  background-image: url(images/Circle_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

section.teaching .wrapper::after {
  content: "";
  width: 194px;
  height: 194px;
  position: absolute;
  z-index: -1;
  right: -70px;
  top: 45px;
  background-image: url(images/Circle_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

section.teaching h2 {
  font-size: 4.5rem;
  font-weight: 600;
  position: relative;
  align-self: start;
}

main section.teaching h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.0625rem;
  height: 2px;
  background-color: #000;
}

main section ul.cards {
  all: unset;
  height: 22.5rem;
  display: flex;
  gap: 1.8rem;
}

main section ul.cards img {
  all: unset;
  width: 12.3125rem;
  height: 20.9375rem;
  align-self: flex-end;
}

main section ul.cards li {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 0.625rem;
  column-gap: 1rem;
}

main section ul.cards li:first-child {
  background-color: #E2E2E2;
}

main section ul.cards li:nth-child(2) {
  background-color: #F28B64;
}

main section ul.cards li:last-child {
  background-color: #5290EA;
}

main section ul.cards li h3 {
  transform: rotate(90deg);
  height: 3.5rem;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  align-self: center;
  justify-self: center;
}

main section ul.proofs {
  all: unset;
  display: flex;
  column-gap: 2.75rem;
  justify-content: space-between;
  margin: 1.5rem 0;
}

main section ul.proofs li.proof_item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

li.proof_item img {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
}

li.proof_item div.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.7rem;
}

li.proof_item div.info p>span {
  all: unset;
  font-size: 3rem;
  font-weight: 600;
}

li.proof_item div.info p {
  font-size: 1.12rem;
  font-weight: 400;
}

main section.teaching img.decor_circle_2 {
  position: absolute;
  width: 82.62025rem;
  height: 34.1875rem;
  top: 54rem;
  left: 23rem;
  z-index: -1;
}
/* SECTION #1 END */


/* SECTION #2 START */
main section.education {
  width: 100%;
  background-color: #F0F0F0; 
}

section.education .wrapper {
  display: flex;
  gap: 4.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 3rem 0;
}

section.education h2 {
  font-size: 4.5rem;
  font-style: bold;
  font-weight: 600;
  position: relative;
}

section.education h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.0625rem;
  height: 2px;
  background-color: #000;
}

section.education h2::before {
  content: "";
  width: 282px;
  height: 282px;
  position: absolute;
  z-index: -1;
  left: -105px;
  top: -100px;
  background-image: url(images/decor_circle_4.png);
  background-size: contain;
  background-repeat: no-repeat;
}

section.education article {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
  justify-content: space-between;
}

section.education article h3 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 89.9%;
}

section.education article p {
  font-size: 1.125rem;
  text-align: justify;
}

section.education article .book_lesson {
  margin: 0;
}
/* SECTION #2 END */
/* MAIN END */


/* FOOTER START */
footer {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
}

section.footer_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 40px 0;
}

.gitar_footer {
  width: auto;
  height: 300px;
  top: 0;
  left: -120px;
  position: absolute;
}

footer div.desc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}

footer section.footer_container h3 {
  width: 550px;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 89.9%; /* 4.0455rem */
  text-align: justify;
}

footer .desc ul.social {
  all: unset;
  width: 100%;
  height: 4rem;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

footer .desc ul.social li.social_item {
  list-style: none;
}

footer .desc li.social_item a {
  display: inline-block;
  transition: transform 0.3s ease;
}

footer .desc li.social_item a:hover {
  transform: scale(1.3);
}

footer .desc li.social_item img {
  width: 3rem;
  height: 3rem;
}
/* FOOTER END */